

.nav-link:hover{
color: rgb(182, 45, 45) !important;
}
.btn-1:hover{
    background-color: black !important;
    transition: 0.5s;
}
.dot{
    color: rgb(182, 45, 45);  
}
.nav-change{
    background-color: rgb(29, 29, 29) !important;
   
}

/* slide*/
.carousel-item img{
    height: 100% !important;
    width: 100%;
    object-fit: cover !important;
    
}
.btn-2{
    background-color: rgb(40, 40, 40) !important;
}
.btn-2:hover{
    background-color: white !important;
    color: black !important;
    transition: 0.5s;
}
.btn-3:hover{
    background-color: white !important;
    color: black !important;
    transition: 0.5s;
    border: 0;
}
.btn-4:hover{
    background-color:  rgb(182, 45, 45) !important;
    transition: 0.5s !important;
    border: 0;
} 
.carousel-caption{
    padding-bottom: 25.25rem !important;
}

@media  only screen and (min-width: 200px) and (max-width: 991px) { 
    .carousel-caption{
        top: 5.25rem !important;
    }
 }
 /* text color*/
 .text-color{
    color: rgb(122, 118, 118) !important;
    font-size: 12px;
 }
 .text{
    color: rgb(122, 118, 118) !important;
 }

    
 /* chef*/
 .img-card{
    -webkit-transform: scale(1);
    transform: scale(1) ;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    display: block !important;
    overflow: hidden;

 }
 
    .img-card img{
        width: 100% !important;
    }
 

 .img-card img:hover{
    -webkit-transform: scale(1.1);
   transform: scale(1.1);
    transition: 0.5s;
 }
 .hover-div{
    
 }
 /* testimoinal*/
 .bg-testi{
    background-image: url(./images/testimonial-bg.jpg);
    position: relative;
    background-size: cover;
    display: flex;
    align-items: center;
    background-blend-mode: darken !important;

 }
 .bg-testi::before{
    background-color: rgba(0, 0, 0, 0.55) !important;
    background-size: cover;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
 
}

 .bg-card{
    background: transparent !important; 
 }
 .card-color{
    color: rgb(205, 203, 203) !important;
 }
 /* contact*/
 .inp{
    width: 45%;
 }
 @media  only screen and (min-width: 200px) and (max-width: 991px) { 
    .inp{
        width: 100%;
    }
 }
 .g-tower{
   position: relative;
    background-color: white;
    right: -20px;
    top: -250px;
    font-size: 13px;
 }
.plus{
    position: relative;
    background-color: white;
    left: 475px;
    bottom:230px;
    width: 4vw;
    text-align: center;
    
}
/* footer*/
.foo{
    background-image: url(./images/footer-open-hour-bg.jpg);
    position: relative ;
    background-size: cover;
   background-blend-mode: darken;
   overflow: hidden;

    
}
.foo::before{
    background-color: rgba(7, 7, 7, 0.796) !important;
    background-size: cover;
  content: '';
  position: absolute !important;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;



}
.icon{
    color: rgb(182, 45, 45) !important;
}
.icon:hover{
    background-color:rgb(182, 45, 45) !important ;
    color: white !important;
    padding: 10px;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}
 